/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header & Main Navigation
--------------------------------------------------------------*/
header.site {
	background-color: transparent;
	border-bottom: 1px solid white;
}
.branding {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    @media (max-width: $screen-xs) {
	    display: block;
	    text-align: center;
    }
	span {
		color: white;
		font-size: $font-lg;
		font-weight: 100;
	}
}



nav.main {
    float: right;
    margin-top: 24px;
    background-color: transparent;
    @media (max-width: $screen-xs) {
		float: none;
		margin-bottom: 24px;
	    text-align: center;
    }
    ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
    }
    li {
        display: inline-block;
        a {
            position: relative;
	        color: white;
	        font-weight: 100;
	        letter-spacing: 1px;
	        text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover {
	            color: $border;
            }
            &:before {
	            content: '';
			    position: absolute;
			    width: 100%;
			    height: 2px;
			    bottom: -4px;
			    left: 0;
			    background-color: $border;
			    visibility: hidden;
			    transform: scaleX(0);
			    transition: all 0.3s ease-in-out 0s;
            }
            &:hover:before {
	            visibility: visible;
	            transform: scaleX(1);
            }
        }
        + li a {
	        margin-left: 20px;
        }
    }
}

/*--------------------------------------------------------------
# Section: Hero
--------------------------------------------------------------*/
.hero {
	position: relative;
	height: calc(100vh - 125px);
	text-align: left;
	background: linear-gradient($primary, rgba($primary, 0.85)), url('../img/bg-jags.jpg') 0 0 no-repeat;
	background-size: cover;
	.intro {
		//padding-top: calc(100% / 5);
		padding-top: 200px;
		color: white;
		.title {
			color: white;
		}
		p {
			margin-bottom: 35px;
			font-size: $font-lg;
		}
		a {
			color: white;
			text-decoration: underline;
		}
	}
	
}

/*--------------------------------------------------------------
# Section: Subnav
--------------------------------------------------------------*/
.subnav-wrapper {
    height: 57px; //height needed for snappanel
    overflow: inherit;
    background-color: white;
    overflow: hidden;
    @media (max-width: $screen-sm) {
        height: auto;
    }
}
.subnav {
	width: 100%;
	background-color: white;
	border-bottom: 1px solid $border;
	ul {
		margin: 0;
		padding: 0;
	}
	ul.flex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		@media (max-width: $screen-sm) {
			flex-direction: column; //stack items vertically
		}
		li {
		    min-width: inherit;
		}
		li a {
			display: block;
			padding: 20px 10px;
			line-height: 1;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			color: $grey;
			transition: all 0.2s ease-in-out;
			&:hover,
			&.active {
				color: $black;
				background-color: darken(white,10%);
			}
			@media (max-width: $screen-sm) {
			    padding-left: 0;
			    padding-right: 0;
		    }
		}
	}
}
.subnav.fixed {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: 0px 1px 3px 0px rgba(black, 0.2);
    transition: all 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Section: Global
--------------------------------------------------------------*/
 section {
    position: relative;
    overflow: hidden;
    padding: 50px;
    width: 100%;
    height: 100vh;
}
.player-container {
    margin: 0;
	padding: 0;
	background-color: white;
}
.player-bg {
    position: relative;
	width: 50%;
	height: 100vh;
	margin: 0;
	padding: 0;
    opacity: 0.9;
    &:after {
	    content: '';
	    position: absolute;
		background-image: url('http://s23.postimg.org/lcnfbeesr/blend1.jpg');
		background-repeat: no-repeat;
		background-color: transparent;
		mix-blend-mode: soft-light;
		background-position: -5rem;
		width: 100%;
		height: 100%;
		z-index: 1;
		animation: blendBg 20s linear infinite; 
    }
    &.bg-cover {
	    background-color: transparent;
	    background-position: 40% 100%;
	    background-repeat: no-repeat;
	    background-size: cover;
    }
    &.ramsey {
	    background-image: url('../img/player-ramsey.jpg');
    }
    &.jack {
	    background-image: url('../img/player-jack.jpg');
    }
    &.ngakoue {
	    background-image: url('../img/player-ngakoue.jpg');
    }
    &.day {
	    background-image: url('../img/player-day.jpg');
    }
    &.holmes {
	    background-image: url('../img/player-holmes.jpg');
    }
    &.allen {
	    background-image: url('../img/player-allen.jpg');
    }
    &.woodard {
	    background-image: url('../img/player-woodard.jpg');
    }
}
.player-bio {
	padding: 60px;
}
/*--------------------------------------------------------------
# Section: Ramsey
--------------------------------------------------------------*/
.ramsey {
    background: linear-gradient(to right, $fsu-gold 0%, $fsu-gold 50%, $fsu-garnet 50%, $fsu-garnet 100%);
}

/*--------------------------------------------------------------
# Section: Jack
--------------------------------------------------------------*/
.jack {
    background: linear-gradient(to right, $ucla-blue 0%, $ucla-blue 50%, $ucla-gold 50%, $ucla-gold 100%);
}

/*--------------------------------------------------------------
# Section: Ngakoue
--------------------------------------------------------------*/
.ngakoue {
    background: linear-gradient(to right, black 0%, black 50%, $maryland-red 50%, $maryland-red 100%);
}

/*--------------------------------------------------------------
# Section: Day
--------------------------------------------------------------*/
.day {
    background: linear-gradient(to right, $nd-blue 0%, $nd-blue 50%, $nd-gold 50%, $nd-gold 100%);
}

/*--------------------------------------------------------------
# Section: Holmes
--------------------------------------------------------------*/
.holmes {
    background: linear-gradient(to right, $montana 0%, $montana 50%, black 50%, black 100%);
}

/*--------------------------------------------------------------
# Section: Allen
--------------------------------------------------------------*/
.allen {
    background: linear-gradient(to right, $ark-black 0%, $ark-black 50%, $ark-red 50%, $ark-red 100%);
}

/*--------------------------------------------------------------
# Section: Woodard
--------------------------------------------------------------*/
.woodard {
    background: linear-gradient(to right, $ca-purple 0%, $ca-purple 50%, $ca-silver 50%, $ca-silver 100%);
}


/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
@keyframes blendBg {
    0% {
        background-position: 0;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0;
    }
}
