/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header & Main Navigation
--------------------------------------------------------------*/
header.site {
	background-color: transparent;
	border-bottom: 1px solid white;
}
.branding {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    @media (max-width: $screen-sm) {
	    display: block;
	    text-align: center;
    }
	span {
		color: white;
		font-size: $font-lg;
		font-weight: 100;
	}
}

nav.main {
    float: right;
    margin-top: 24px;
    background-color: transparent;
    @media (max-width: $screen-sm) {
		float: none;
		margin-bottom: 24px;
	    text-align: center;
    }
    ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
    }
    li {
        display: inline-block;
        a {
            position: relative;
		        color: white;
		        font-weight: 100;
		        letter-spacing: 1px;
		        text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover {
	            color: $border;
            }
            &:before {
	            content: '';
					    position: absolute;
					    width: 100%;
					    height: 2px;
					    bottom: -4px;
					    left: 0;
					    background-color: $border;
					    visibility: hidden;
					    transform: scaleX(0);
					    transition: all 0.3s ease-in-out 0s;
            }
            &:hover:before {
	            visibility: visible;
	            transform: scaleX(1);
            }
        }
        + li a {
	        margin-left: 20px;
        }
    }
}

/*--------------------------------------------------------------
# Section: Hero
--------------------------------------------------------------*/
.hero {
	position: relative;
	height: calc(100vh - 125px);
	text-align: left;
	background: linear-gradient($primary, rgba($primary, 0.85)), url('../img/bg-jags.jpg') 0 -100px no-repeat;
	background-size: cover;
	@media (max-width: $screen-sm) {
	    height: 400px;
			background-position: center center;
    }
	.intro {
		padding-top: 175px;
		color: white;
		@media (max-width: $screen-sm) {
			padding-top: 20px;
		}
		.title {
			color: white;
		}
		p {
			margin-bottom: 35px;
			font-size: $font-lg;
		}
		a {
			color: white;
			text-decoration: underline;
		}
	}

}

/*--------------------------------------------------------------
# Section: Subnav
--------------------------------------------------------------*/
.subnav-wrapper {
    height: 57px; //height needed for snappanel
    overflow: inherit;
    background-color: white;
    border-top: 1px solid $border;
    overflow: hidden;
    @media (max-width: $screen-sm) {
        height: auto;
    }
}
.subnav {
	width: 100%;
	background-color: $black;

	ul {
		margin: 0;
		padding: 0;
	}
	ul.flex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		@media (max-width: $screen-sm) {
			flex-direction: column; //stack items vertically
		}
		li {
		    min-width: inherit;
		}
		li a {
			display: block;
			padding: 20px 10px;
			line-height: 1;
			text-align: center;
			text-decoration: none;
			color: white;
			border-bottom: 1px solid lighten($black,5%);
			transition: all 0.2s ease-in-out;
			&:hover,
			&.active {
				color: $accent2;
				background-color: darken($black,10%);
			}
			@media (max-width: $screen-sm) {
			    padding-left: 0;
			    padding-right: 0;
		    }
		}
	}
}
.subnav.fixed {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: 0px 1px 3px 0px rgba(black, 0.2);
    transition: all 0.2s ease-in-out;
}

.video-tiles {
  position: relative;
	z-index: 1;
	background: white;
	//transition: transform 0.6s ease;
	.tiles-a {
		width: 100%;
		position: relative;
		overflow: hidden;
	}
}
.aside {
  position: fixed;
  top: 55px; //make room for header
  right: 0;
  width: 50%;
  height: 100%;
  color: white;
  background: linear-gradient(#006778, rgba(0, 103, 120, 0.85)), url("../img/bg-jags.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  @media (max-width: $screen-sm) {
    top: 0;
    width: 100%;
  }
  .aside-details {
    height: 100vh;
  }


	iframe {
		width: 100%;
		height: 100vh;
		vertical-align: top;
	}
	.wrapper {
		padding: 1em;
	}
	.close {
		width: 25px;
		display: block;
		position: absolute;
		z-index: 2;
		top: 3em;
		right: 3em;
        border-radius: 50%;
	}
}

.show {z-index:10; opacity: 1;transition: opacity 0.6s ease-in-out;}

.show-detail {
	overflow: hidden;
	.video-tiles {
	    //transform: translateX(-60%);
	    z-index: -1;
	}
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: rgba(black,0.5);
  &43 {
    padding-top: 75%;
  }
  &169 {
    //padding-top: 56%;
  }
}
.video-iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(black,0.5);
}
.video-poster {
  position: absolute;
  background-color: rgba(black,0.5);
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  transition: opacity 800ms, height 0s;
  transition-delay: 0s, 0s;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border-radius: 100%;
  }
  .video-wrapper-active & {
    opacity: 0;
    height: 0;
    transition-delay: 0s, 800ms;
  }
}





/*--------------------------------------------------------------
# Section: Global
--------------------------------------------------------------*/
 section {
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 100vh;
    @media (max-width: $screen-sm) {
        height: 100%;
    }
    .panels {
	    position: absolute;
	    width: 100%;
	    height: 100%;
      min-height: 100vh;
	    top: 0;
	    left: 0;
	    padding: 60px;
	    overflow: auto;
	    -webkit-overflow-scrolling: touch;
	    @media (max-width: $screen-sm) {
	        position: relative;
	        padding: 0;
	        overflow: hidden;
	    }
	    &.hide-scroll {
		    width: 103%;//hackish, but works to remove 2nd scroll bar from nested scroll panels
	    }
	    section {
		    @media (min-width: $screen-sm) {
		        padding-top: 100px;
		    }
	    }
    }
}
.snap-menu.two {
	position: absolute;
	z-index: 999;
}
.player-container {
  margin: 0;
	padding: 0;
	background-color: white;
}
.player-bg {
  position: relative;
	width: 50%;
	height: 100vh;
	margin: 0;
	padding: 0;
  opacity: 1;
    @media (max-width: $screen-sm) {
        width: 100%;
        height: 300px;
    }
    &:after {
	  content: '';
	  position: absolute;
		background-image: url('../img/effect-stadium.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-color: transparent;
		mix-blend-mode: soft-light;
		background-position: -5rem;
		width: 100%;
		height: 100%;
	  opacity: 0.5;
		z-index: 1;
		animation: blendBg 50s linear infinite;
    }

    &.bg-cover {
	    background-color: transparent;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
    }
    &.ramsey {
	    background-image: url('../img/player-ramsey.jpg');
	    &:after {
		    background-image: url('../img/effect-skyline_dark.jpg');
	    }
    }
    &.jack {
	    background-image: url('../img/player-jack.jpg');
	    &:after {
		    background-image: url('../img/effect-skyline.jpg');
		    animation-duration: 75s;
	    }
    }
    &.ngakoue {
	    background-image: url('../img/player-ngakoue.jpg');
    }
    &.day {
	    background-image: url('../img/player-day.jpg');
	    &:after {
		    background-image: url('../img/effect-skyline.jpg');
	    }
    }
    &.holmes {
	    background-image: url('../img/player-holmes.jpg');
	    &:after {
		    background-image: url('../img/effect-skyline_dark.jpg');
				opacity: 0.3;
		    animation-duration: 75s;
	    }
    }
    &.allen {
	    background-image: url('../img/player-allen.jpg');
			&:after {
				opacity: 0.3;
			}
    }
    &.woodard {

	    background-image: url('../img/player-woodard.jpg');
	    &:after {
		    background-image: url('../img/effect-trees.jpg');
				opacity: 0.7;
		    animation-duration: 75s;
	    }
    }
}
.player-bio {
	padding: 60px;
	padding-top: 45px;
	@media (max-width: $screen-md) {
        width: 50%;
    }
	@media (max-width: $screen-sm) {
	    width: 100%;
	    padding: 0 20px 45px;
	}
}
.video-player {
  	width: 100%;
    height: 200px;
    margin: 30px 0 15px;
    padding: 0;
    text-align: center;
    position: relative;
    background: linear-gradient($black, rgba($black,0.9)), url("../img/bg-jags.jpg") 0 50% no-repeat;
    background-size: cover;
    border: 15px solid $border;
    @media (max-width: $screen-sm) {
	    height: 175px;
	}
}
button.btn-video,
.btn-video {
	  width: 50px;
		height: 50px;
		background-color: rgba($accent, 0.8);
		border: 3px solid $accent2;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -25px;
		margin-left: -25px;
		outline: none;
		cursor: pointer;
		&.overlay::before {
			top: 13px;
			left: 16px;
		}
		&.overlay::after {
			content: 'Click Play to Watch Video';
			position: relative;
			top: 54px;
      right: 72px;
			color: white;
			font-size: $font-md;
		}
		&:before {
		  content: "";
			display: block;
			width: 0;
			height: 0;
			position: relative;
			left: 9px;
			border-style: solid;
			border-width: 8px 0 8px 16px;
			border-color: transparent transparent transparent #fff;
		}
		&:hover {
			background-color: rgba($accent, 1);
		  border-color: darken($accent2, 2%);
		}
  }
/*--------------------------------------------------------------
# Section: Ramsey
--------------------------------------------------------------*/
.ramsey {
}

/*--------------------------------------------------------------
# Section: Jack
--------------------------------------------------------------*/
.jack {
}

/*--------------------------------------------------------------
# Section: Ngakoue
--------------------------------------------------------------*/
.ngakoue {
}

/*--------------------------------------------------------------
# Section: Day
--------------------------------------------------------------*/
.day {
}

/*--------------------------------------------------------------
# Section: Holmes
--------------------------------------------------------------*/
.holmes {
}

/*--------------------------------------------------------------
# Section: Allen
--------------------------------------------------------------*/
.allen {
    //background: linear-gradient(to right, $ark-black 0%, $ark-black 50%, $ark-red 50%, $ark-red 100%);
}

/*--------------------------------------------------------------
# Section: Woodard
--------------------------------------------------------------*/
.woodard {
}

/*--------------------------------------------------------------
# Section: Credits
--------------------------------------------------------------*/
.credits {
	position: relative;
	height: 100vh;
	text-align: left;
	background: linear-gradient($primary, rgba($primary, 0.85)), url('../img/bg-jags.jpg') 0 0 no-repeat;
	background-size: cover;
	@media (max-width: $screen-sm) {
	    height: 475px;
    }
    @media (max-width: $screen-xs) {
        height: 525px;
    }
	.intro {
		padding-top: 250px;
		color: white;
		@media (max-width: $screen-sm) {
			padding-top: 20px;
		}
		.title {
			color: white;
		}
		p {
			margin-bottom: 35px;
			font-size: $font-lg;
		}
		a {
			color: white;
			text-decoration: underline;
			&.a-btn {
			    margin: 10px 0;
				text-decoration: none;
				@media (min-width: $screen-sm) {
		            margin-left: 15px;
		        }
			}
		}
	}
	.btn {
	    @media (max-width: $screen-sm) {
		    margin: 10px auto;
		}
	}
	em {
	    font-size: $font-sm;
	}

}

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
@keyframes blendBg {
    0% {
        background-position: 0;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0;
    }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

.slideInRight {
    animation-name: slideInRight;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
