// Colors
$primary: #006778; //teal
$accent: #D7A22A; //light gold
$accent2: #9F792C; //darker gold

$color-heading: #404040;

$black: #4c4643;
$grey: #9B9B9B;
$border: #dbdbdb;

//college colors
$fsu-gold: #CEB888;
$fsu-garnet: #782F40;
$ucla-blue: #005C8E;
$ucla-gold: #AB841E;
$maryland-red: #F83A39;
$nd-blue: #00122B;
$nd-gold: #bf9565;
$montana: #784f72;
$ark-red: #561d22;
$ark-black: #231F20;
$ca-purple: #5954d9;
$ca-silver: #939BA1;


// Sizings
$font-xl: 1.5em;
$font-lg: 1.25em;
$font-md: 1.15em;
$font-default: 1em;
$font-sm: 0.85em;

// Screen sizes
$screen-sm: 768px;
$screen-xs: 480px;

// Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600');
$font-heading: 'Open Sans', Verdana, Arial;
$font-body: 'Open Sans', serif, Helvetica;


// Vendors
@import 'normalize';
@import 'bootstrap-grid-only';
//@import 'font-icon';

// Layout
@import "base";
@import "layout";
